<?xml version="1.0" encoding="UTF-8"?>
<info>

<info id="p1">
	<user>BomdiaAcademia</user>
	<password>12345</password>
	<email>bomdiaacademiaiscte@gmail.com</email>
	<emailpassword>caninas6969</emailpassword>
	<consumerkey>GudSUSay8T8kjEmvaKn83vcZl</consumerkey>
	<consumersecret>ZDf5MCyxXvrli75dXKkrAkAkJLFWVjp5dGYXadKLVY2ozu2d66</consumersecret>
	<accesstoken>1054165924197122049-XjeA2N2LdH4D0ALnJ0OEyHzNp4bmw4</accesstoken>
	<tokensecret>Qhu4tsevnuDzfj9Ulj7qlixwSO3m3GPC3drWJykRIekGK</tokensecret>
	<postsfacebook>EAAc2bKycb0kBAPgNEK0xgXZBbXGBh2G7vo38MERZBIRCQijjjyzBlhhxoAH74HwCrvubl68hCVhHH7tYEhFZBHAZCI3MmlRLVSihnTl3M5Mh5JvJPyyDZBC1Yy1TcXin4wedgVEuAZCe0icOQ3L2nLDfKWDx9DCSljXdEthlEXsZC0784PjIxNcQ0QSZAPlfBdPMO7IP0sTieAZDZD</postsfacebook>
	<respondepostsfacebook>EAAc2bKycb0kBAAuw5Wfu40vEyZAfUgy9YZBH81ZB7bPjzLmp6yCYZBbZCt5IuoTBsvLHeilJqY8eR6rsA2Ex6yPnjp9CM5yrlsvA4j7D0Nc8QAL7ZCFZC9NmiiBBHo8FWdlpZCrysZBKE5YCCV8zWiSpx9tbjqbpfy19Gkaw82Fdst8eZBBz6bUQYpzc71Wv22uXRdImUmE64amAZDZD</respondepostsfacebook>
</info>

<info id="p2">
	<user>Rafael</user>
	<email>rafael.castanheira97@gmail.com</email>
	<password>12345</password>
</info>

</info>